<table>
<tr>
        <td colspan="3">
        <textarea [(ngModel)]="historico" [rows]="alto" cols="50" ></textarea>
        </td>
    
</tr>
<tr>
    <td colspan="3">
    <input type="text" [(ngModel)]="operacion" #varOperacion><br>
    </td>

</tr>


<tr>
    
    <td><input type="button"  value="1"      (click)="addNumber(1)" > </td>
    <td><input type="button"  value="2"      (click)="addNumber(2)" > </td>
    <td><input type="button"  value="3"      (click)="addNumber(3)" > </td>

</tr>
<tr>
    
                <td *ngFor="let n of [4,5,6]">
                        <input type="button"  value="{{n}}"      (click)="addNumber( n )" >
                </td>
    
</tr>

                <tr>

                <td *ngFor="let n of [7,8,9]">
                <input type="button"  value="{{n}}"      (click)="addNumber( n )" >
                </td>

                </tr>

<tr>



<tr>
    
        <td><input type="button"  value="+"  (click) = "addOperator('+')" > </td>
        <td><input type="button"  value="-"  (click) = "addOperator('-')" > </td>
        <td><input type="button"  value="0"  (click) = "addNumber(0)" > </td>
        
    
 </tr>
        <tr>
    
                
                
                <td colspan="2"><input type="button"  value="CE"  (click) = "exeCE()" > </td>
                <td><input type="button"  value="="  (click) = "getResultado()" > </td>
            
         </tr>

</table>

